<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>testservlet</display-name>
    <servlet-name>testservlet</servlet-name>
    <servlet-class>cn.edu.qust.test.testservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testservlet</servlet-name>
    <url-pattern>/testservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>打算的撒</display-name>
    <servlet-name>打算的撒</servlet-name>
    <servlet-class>cn.edu.qust.test.打算的撒</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>打算的撒</servlet-name>
    <url-pattern>/打算的撒</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sdsdsdsds</display-name>
    <servlet-name>sdsdsdsds</servlet-name>
    <servlet-class>cn.edu.qust.test.sdsdsdsds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sdsdsdsds</servlet-name>
    <url-pattern>/sdsdsdsds</url-pattern>
  </servlet-mapping>
</web-app>