<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hotpotserver</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.Hotpot.servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Hotpot.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignServlet</display-name>
    <servlet-name>SignServlet</servlet-name>
    <servlet-class>com.Hotpot.servlet.SignServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignServlet</servlet-name>
    <url-pattern>/SignServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PushFood</display-name>
    <servlet-name>PushFood</servlet-name>
    <servlet-class>com.Hotpot.servlet.PushFood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PushFood</servlet-name>
    <url-pattern>/PushFood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFoodAsType</display-name>
    <servlet-name>GetFoodAsType</servlet-name>
    <servlet-class>com.Hotpot.servlet.GetFoodAsType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFoodAsType</servlet-name>
    <url-pattern>/GetFoodAsType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllCombo</display-name>
    <servlet-name>GetAllCombo</servlet-name>
    <servlet-class>com.Hotpot.servlet.GetAllCombo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCombo</servlet-name>
    <url-pattern>/GetAllCombo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToBusiness</display-name>
    <servlet-name>AddToBusiness</servlet-name>
    <servlet-class>com.Hotpot.servlet.AddToBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToBusiness</servlet-name>
    <url-pattern>/AddToBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBusiness</display-name>
    <servlet-name>GetBusiness</servlet-name>
    <servlet-class>com.Hotpot.servlet.GetBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBusiness</servlet-name>
    <url-pattern>/GetBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComboName</display-name>
    <servlet-name>GetComboName</servlet-name>
    <servlet-class>com.Hotpot.servlet.GetComboName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComboName</servlet-name>
    <url-pattern>/GetComboName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwd</display-name>
    <servlet-name>ChangePwd</servlet-name>
    <servlet-class>com.Hotpot.servlet.ChangePwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwd</servlet-name>
    <url-pattern>/ChangePwd</url-pattern>
  </servlet-mapping>
</web-app>